@import '@mns/ui/styles';
@source "../../../../packages/ui/**/*.{js,ts,jsx,tsx}";

@theme inline {
  --font-header: var(--font-fraunces);
  --font-body: var(--font-sora);
  --font-hand-writing: var(--font-nothing-you-can-do);
}
